.logoImage {
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin-right: 5px;
}
.navBtn {
	padding: 8px 8px 0 8px;
	border: 0;
}

.cart {
	margin: 3px;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;
}
