@import "~bootstrap/scss/bootstrap";
@import "./assets/typography.scss";

* {
	margin: 0;
	overflow-x: hidden;
	color: yellow;
	font-family: "osrs-font";
}

.container_app {
	background-image: url("./img/osrs_bg.jpeg");

	height: 100vh;

	background-position: center;
}
